body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header,
footer {
    text-align: center;
    background-color: teal;
    color: white;
    grid-column: span 4;
}

.display {
    grid-column: span 3;
}

#main-info,
.display p {
    background-color:gainsboro;
}

span {
    font-weight: bold;
}

.error p {
    background-color: red;
    color: white;
}

.hidden {
    display: none;
}