body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header,
footer {
    text-align: center;
    background-color: teal;
    color: white;
}

#main-info,
.display p {
    background-color:gainsboro;
}

span {
    font-weight: bold;
}

.error p {
    background-color: red;
    color: white;
}

.hidden {
    display: none;
}